# This .gitignore file ignores the files that don't need to be tracked by git; '*' means don't track files also beneath the directory the .gitignore file is in

# Windows
*.desktop.ini

# Visual Studio
.vs/

# Visual Studio Code
.vscode/

# DotNet - the trailing slash is sufficient to recursively ignore all files in the directory, these are directories, not files 
bin/
obj/

# Mac OS X
*.DS_Store
