# A .gitignore file ignores the files that don't need to be tracked by git

# Ignore all chosen files within every directory by using '*' wildcard before the file name
# ------------------------------------------------------------------------------------------

# Windows files
*.desktop.ini

# Mac OS X files
*.DS_Store

# Use a trailing slash to specify directories; this recursively ignore all files within these directories 
# -------------------------------------------------------------------------------------------------------

# Visual Studio directories
.vs/

# Visual Studio Code directories
.vscode/

# .NET project output directories
bin/
obj/

# ignore all virtual environments
# ------------------------------------------------------------------------------------------------------------

**/venv/