# This .gitignore file ignores the files that don't need to be tracked by git; '*' means don't track files also beneath the directory it's in.

# Windows
desktop.ini

# Visual Studio
*.vs/

# Visual Studio Code
.vscode/

# DotNet
bin/
obj/

# Mac OS X
*.DS_Store
